<!-- *ngIf waits for movie variable before loading page -->
<ion-header [translucent]="true" *ngIf="movie">
  <ion-toolbar>
    <ion-title>{{movie.title}}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" *ngIf="movie && movieCredits">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">movie-details</ion-title>
    </ion-toolbar>
  </ion-header>

  <p>{{movie.overview}}</p>
  <p>[home]</p>
  <p>[favs]</p>
  <p>[add to favs]</p>
  
  <h4>Cast</h4>
  <!-- generate card for each cast member -->
  <ion-card *ngFor="let cast of movieCredits.cast">
    <ion-card-header>
      <!-- person's image -->
      <img *ngIf="cast.profile_path" width="100px" 
      src="https://image.tmdb.org/t/p/w200{{cast.profile_path}}" 
      (click)="openDetails(cast.id)"/> <!-- click iimage to open details page with person id -->
      
      <!-- show "No image" if none available -->
      <h5 *ngIf="!cast.profile_path" (click)="openDetails(cast.id)"><em>No image</em></h5>
      
      <ion-card-title>{{cast.name}}</ion-card-title>
      <ion-card-subtitle>{{cast.character}}</ion-card-subtitle>
    </ion-card-header>
    <ion-card-content></ion-card-content>
  </ion-card>

  <h4>Crew</h4>
  <!-- generate card for each crew member -->
  <ion-card *ngFor="let crew of movieCredits.crew">
    <ion-card-header>
      <!-- crew member's image -->
      <img *ngIf="crew.profile_path" width="100px" 
      src="https://image.tmdb.org/t/p/w200{{crew.profile_path}}" 
      (click)="openDetails(crew.id)"/> <!-- click image to open details page with person id -->

      <!-- show "No image" if none available -->
      <h5 *ngIf="!crew.profile_path" (click)="openDetails(crew.id)"><em>No image</em></h5>

      <ion-card-title>{{crew.name}}</ion-card-title>
      <ion-card-subtitle>{{crew.job}}</ion-card-subtitle>
    </ion-card-header>
    <ion-card-content></ion-card-content>
  </ion-card>
  


</ion-content>
